rewriteEngine On

RewriteRule ^404.html$ 404.php
RewriteRule ^index.html$ index.php
RewriteRule ^([a-zA-Z0-9-(),]+)-([0-9]+).html$ single_product.php?url=$1&id=$2
RewriteRule ^([a-z0-9-]+)$ type_product.php?url=$1
RewriteRule ^([a-z0-9-]+)/page/([0-9]+)$ type_product.php?url=$1&page=$2



ErrorDocument 403 /nino/403.html
ErrorDocument 404 /nino/404.html

